* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body.no-scroll {
  position: fixed;
  width: 100%;
}